<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="../../media/vendor/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="../../media/coderoom-helpers/coderoom.css">
</head>
<body>


<div class="cr-wrap" ng-app="ui.bootstrap.demo">
    <div class="cr-content modal-demo" ng-controller="ModalDemoCtrl as $ctrl">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <ul>
                    <li ng-repeat="item in $ctrl.items">
                        <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
                    </li>
                </ul>
                Selected: <b>{{ $ctrl.selected.item }}</b>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
            </div>
        </script>
        <script type="text/ng-template" id="stackedModal.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title-{{name}}">The {{name}} modal!</h3>
            </div>
            <div class="modal-body" id="modal-body-{{name}}">
                Having multiple modals open at once is probably bad UX but it's technically possible.
            </div>
        </script>

        <button type="button" class="btn btn-default" ng-click="$ctrl.open()">Open me!</button>
        <br>
        <br>

        <button type="button" class="btn btn-default" ng-click="$ctrl.open('lg')">Large modal</button>
        <br>
        <br>

        <button type="button" class="btn btn-default" ng-click="$ctrl.open('sm')">Small modal</button>
        <br>
        <br>

        <button type="button"
                class="btn btn-default"
                ng-click="$ctrl.open('sm', '.modal-parent')">
            Modal appended to a custom parent
        </button>
        <br>
        <br>

        <button type="button" class="btn btn-default" ng-click="$ctrl.toggleAnimation()">
            Toggle Animation ({{ $ctrl.animationsEnabled }})
        </button>
        <br>
        <br>

        <button type="button" class="btn btn-default" ng-click="$ctrl.openComponentModal()">
            Open a component modal!
        </button>
        <br>
        <br>

        <button type="button" class="btn btn-default" ng-click="$ctrl.openMultipleModals()">
            Open multiple modals at once
        </button>
        <br>
        <br>

        <div ng-show="$ctrl.selected">Selection from a modal: {{ $ctrl.selected }}</div>
        <div class="modal-parent"></div>
    </div>
</div>


<script src="../../media/vendor/angular-1.5.8.js" type="text/javascript" charset="utf-8"></script>
<script src="../../media/vendor/angular-animate-1.5.8.js" type="text/javascript" charset="utf-8"></script>
<script src="../../media/vendor/angular-sanitize-1.5.8.js" type="text/javascript" charset="utf-8"></script>
<script src="../../media/vendor/ui-bootstrap-tpls-2.2.0.js" type="text/javascript" charset="utf-8"></script>
<script src="../../tpls/7/files/modal.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>